ago==0.0.95 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.8.5 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
alpha-vantage==2.3.1 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
boto3==1.28.40 ; python_version >= "3.10" and python_version < "4.0"
botocore==1.31.40 ; python_version >= "3.10" and python_version < "4.0"
bs4==0.0.1 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
constantly==15.1.0 ; python_version >= "3.10" and python_version < "4.0"
cryptography==41.0.3 ; python_version >= "3.10" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
dateparser==1.1.8 ; python_version >= "3.10" and python_version < "4.0"
dotmap==1.3.30 ; python_version >= "3.10" and python_version < "4.0"
dynaconf==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
elastic-transport==8.4.0 ; python_version >= "3.10" and python_version < "4"
elasticsearch==8.9.0 ; python_version >= "3.10" and python_version < "4"
faust-cchardet==2.1.19 ; python_version >= "3.10" and python_version < "4.0"
feedfinder2==0.0.4 ; python_version >= "3.10" and python_version < "4.0"
feedparser==6.0.10 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.12.3 ; python_version >= "3.10" and python_version < "4.0"
finnhub-python==2.4.18 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
hjson==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
hurry-filesize==0.9 ; python_version >= "3.10" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
incremental==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
itemadapter==0.8.0 ; python_version >= "3.10" and python_version < "4.0"
itemloaders==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
jieba3k==0.35.1 ; python_version >= "3.10" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "4.0"
langdetect==1.0.9 ; python_version >= "3.10" and python_version < "4.0"
loguru==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
lxml==4.9.3 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "4.0"
news-please==1.5.35 ; python_version >= "3.10" and python_version < "4.0"
newsapi-python==0.2.7 ; python_version >= "3.10" and python_version < "4.0"
newspaper3k==0.2.8 ; python_version >= "3.10" and python_version < "4.0"
nltk==3.8.1 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.10" and python_version < "4.0"
parsel==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.0.0 ; python_version >= "3.10" and python_version < "4.0"
plac==1.3.5 ; python_version >= "3.10" and python_version < "4.0"
prettytable==3.8.0 ; python_version >= "3.10" and python_version < "4.0"
protego==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.7 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pydispatcher==2.0.7 ; python_version >= "3.10" and python_version < "4.0"
pymysql==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
pyopenssl==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
pypydispatcher==2.1.2 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation == "PyPy"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "4.0"
pywin32==306 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
queuelib==1.6.2 ; python_version >= "3.10" and python_version < "4.0"
readability-lxml==0.8.1 ; python_version >= "3.10" and python_version < "4.0"
regex==2023.8.8 ; python_version >= "3.10" and python_version < "4.0"
requests-file==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
s3transfer==0.6.2 ; python_version >= "3.10" and python_version < "4.0"
scrapy==2.10.1 ; python_version >= "3.10" and python_version < "4.0"
service-identity==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
setuptools==68.1.2 ; python_version >= "3.10" and python_version < "4.0"
sgmllib3k==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "4.0"
tinysegmenter==0.3 ; python_version >= "3.10" and python_version < "4.0"
tldextract==3.4.4 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "4.0"
twisted-iocpsupport==1.0.4 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
twisted==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
tzlocal==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.16 ; python_version >= "3.10" and python_version < "4.0"
w3lib==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
warcio==1.7.4 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
xmltodict==0.13.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "4.0"
zope-interface==6.0 ; python_version >= "3.10" and python_version < "4.0"
